.buyhere{
    background-color: orange;
    color: white;
  text-decoration: none;
  text-align: center;
  border: 3px solid white;
  border-radius: 7px;
  font-size: 25px;
  padding: 10px;
}

body{
    background-color: green;

}
img{
    width: 12%;
    height: 12%;
}

header{
    background-color: grey;
    padding: 10px;
    border: 4px solid white;
    border-radius: 10px;
    color: white;
}

b{
    color: white;
}

.buy{
  background-color: purple;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 3px solid white;
  border-radius: 7px;
  font-size: 25px;
  margin: 150px;
  padding: 2px;
}

h1{
    text-align: center;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
}

p{
    color: white;
    text-align: center;
    border: 4px solid blue;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
}

.feer{
    border: 3px solid blue;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}
footer{
    background-color: grey;
    color: white;
    border: 3px solid cyan;
    border-radius: 6px;
}
h2{
    border: 3px solid blue;
    border-radius: 6px;
}

.image{
    border: 3px solid red;
    border-radius: 6px;
}

.ferk{
    background-color: red;
}
